 {% extends 'core/base.html' %}

 {% block content %}
 <div class="container mt-5" >
   <h1 class="text-warning mb-5 mx-5 border-bottom">SERVICES</h1>
   <!--First Row Starting Row should start inside the container-->
   <div class="row text-center text-white mb-5">

    <div class="col-sm-4">
        <i class="fas fa-search-dollar fa-3x mb-3 i-color"></i>
        <h3 class="ss-color">SEO</h3>
        <p class=""> Search engine optimization (SEO) is the art and science of getting pages to rank higher in search engines such as Google. Because search is one of the main ways in which people discover content online, ranking higher in search engines can lead to an increase in traffic to a website. </p>
             

    </div>
    
    <div class="col-sm-4">
        <i class="fas fa-palette fa-3x mb-3 i-color"></i>
        <h3 class="ss-color">Web Design</h3>
        <p class="text-white"> Web design is the process of planning, conceptualizing, and arranging content online. Today, designing a website goes beyond aesthetics to include the website's overall functionality. Web design also includes web apps, mobile apps, and user interface design </p>
             

    </div>
 
    <div class="col-sm-4">
        <i class="fas fa-code fa-3x mb-3 i-color"></i>
        <h3 class="ss-color">Web Development</h3>
        <p class=""> developing a website for the Internet (World Wide Web) or an intranet (a private network).[1] Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. A more comprehensive list of tasks to which Web development commonly refers, may include Web engineering, Web design, Web content development, client liaison, client-side/server-side scripting, Web server and network security configuration, and e-commerce development. </p>
             

    </div>


   </div>
  <!--Completion of the first row-->

     <!--** Start of the Second Row**-->
   <div class="row text-center text-white mb-5">

    <div class="col-sm-4">
        <i class="fab fa-android fa-3x mb-3 i-color"></i>
        <h3 class="ss-color">Android</h3>
        <p class=""> Android software development is the process by which applications are created for devices running the Android operating system. Google states that[3] "Android apps can be written using Kotlin, Java, and C++ languages" using the Android software development kit (SDK), </p>
             

    </div>
    
    <div class="col-sm-4">
        <i class="fab fa-apple fa-3x mb-3 i-color"></i>
        <h3 class="ss-color">ios</h3>
        <p class=""> iOS is the world’s most advanced mobile operating system. With iOS 15, you can build apps that connect people in new ways with SharePlay, help them focus on the moment with new notification APIs, and provide new tools for exploring with augmented reality, Safari extensions, and nearby interactions. You can even improve the discovery of your app on the App Store, provide better in-app purchase experiences, and more with the latest capabilities for apps on the App Store. </p>
             

    </div>
 
    <div class="col-sm-4">
        <i class="fas fa-ad fa-3x mb-3 i-color"></i>
        <h3 class="ss-color">Advertising</h3>
        <p class=""> Advertising is a marketing communication that employs an openly sponsored, non-personal message to promote or sell a product, service or idea.[1]: 465  Sponsors of advertising are typically businesses wishing to promote their products or services </p>
             

    </div>


   </div>
   <!--End of the Second row-->

    <!--Start of the Third row-->
   <div class="row text-center text-white mb-5">

    <div class="col-sm-4">
        <i class="fas fa-pencil-alt fa-3x mb-3 i-color"></i>
        <h3 class="ss-color">Logo Design</h3>
        <p class=""> Graphic design is the profession and academic discipline whose activity consists in projecting visual communications intended to transmit specific messages to social groups, with specific objectives. As opposed to art, whose aim is merely contemplation, design is based on the principle of "form follows a specific function". </p>
             

    </div>
    
    <div class="col-sm-4">
        <i class="fas fa-database fa-3x mb-3 i-color"></i>
        <h3 class="ss-color">Hosting</h3>
        <p class="text-white"> Hosting (also known as Web site hosting, Web hosting, and Webhosting) is the business of housing, serving, and maintaining files for one or more Web sites. ... A number of Internet access providers, such as America Online, offer subscribers free space for a small Web site that is hosted by one of their computers. </p>
    </div>
 
    <div class="col-sm-4">
        <i class="fas fa-headset fa-3x mb-3 i-color"></i>
        <h3 class="ss-color">Support</h3>
        <p class=""> Technical support (abbreviated as tech support) is an advice service provided, usually over the phone, to help people who have problems using a computer. Presently most large and mid-size companies have outsourced their tech support operations.g </p>
    </div>

 
   <!--End of the Third row--> 

 </div>
 
 
 
 {% endblock content %}




