  {% load static %}

  
<div class="border-right border-warning h-100 text-white ">
  
    <div class="text-center"> 
        <img src="{% static 'core/images/pic2.jpg' %}" alt="profilepic" class="img-fluid rounded-circle mt-5" width="200px" height="200px">
        <h5 class="text-white mt-3">Glady Thomas</h5>
    </div>
    <hr class="border-light text-white">
    
    <nav class="nav flex-column text-center">
        <a href="{% url 'home' %}" class="nav-link {{home}}">Home</a>
        <a href="{% url 'services' %}" class="nav-link {{services}}">Services</a>
        <a href="{% url 'skill' %}" class="nav-link {{skill}}">Skill</a>
        <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>
        </nav>
</div>
